<div class="container">
  <h1>Virtual Workshop Registration Form</h1>
  <p class="text-center">type a subheader</p>
  <hr>

  <div>
      <p>Join the 3-day webdevelopment virtual workshop and become a hirable freelancer</p>
      <div style="font-size: 20px;">Participation Fee $200</div>
      <div class="justify-content-end"><a [routerLink]="'form'">Click Now</a></div>
  </div>
  <div class="row" style="margin-top: 5px;">
      <div class="col-md-6"></div>
      <div class="col-md-6"></div>

  </div>
<hr>
  <div>
      <h2>Virtual WorkShop Schedule</h2>
      <hr style="color: black; font-size: 20px; ">
      <div  class="workshoptime">
      <div class = "row ">
          <div class = "col-sm-12">
             <div class="row">
                <div class = "col-sm-6">
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item">May 1-3</li>
                      <li class="list-group-item">May 15 -18</li>
                      <li class="list-group-item">June 15-18</li>
                      <li class="list-group-item">July 1-3</li>
                      <li class="list-group-item">July 15-18</li>
                    </ul>
              </div>
                <div class = "col-sm-6">
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item">9:00 AM-1:00PM EST</li>
                      <li class="list-group-item">9:00 AM-1:00PM EST</li>
                      <li class="list-group-item">9:00 AM-1:00PM EST</li>
                      <li class="list-group-item">9:00 AM-1:00PM EST</li>
                      <li class="list-group-item">9:00 AM-1:00PM EST</li>
                    </ul>
              </div>
             </div>
          </div>
          
       </div>
      </div>

  </div>
  <hr>

  
 
</div>
  <router-outlet></router-outlet>

 